// can be used in your own components to access vuetify's variables.
@forward 'vuetify/settings' with (
  $font-size-root: 14px,
  $border-radius-root: 2px,
  $button-height: 40px,
  $button-font-size: 1rem,
  $field-font-size: 12px,
  $field-label-floating-scale: 1,
  $input-details-min-height: 24px,
  $input-details-padding-above: 2px,
  $text-field-details-padding-inline: 0,
  $snackbar-content-padding: 0,
  $input-density: ('default': 0, 'comfortable': -2, 'compact': -6),
  $label-font-size: 12px,
);
