html{
  overflow-y:auto;
}

#app{
  display: flex;
  flex-direction: column;
  height: 100vh;

  .v-input__details{
    align-items: flex-start;
    min-height: 30px;
    padding: 4px 0 0;
  }
}

.v-overlay__scrim{
  opacity: 0.05 !important;
}

.v-snackbar__content{
  padding: 0 !important;
}
