html{
  overflow-y:auto;
}

#app{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.c-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  grid-gap: 0 12px;
}

body{
  .v-input__details{
    align-items: flex-start;
    min-height: 24px;
    padding: 2px 0 0 !important;
  }

  .v-overlay__scrim{
    opacity: 0.05;
  }

  .v-snackbar__content{
    padding: 0;
  }
}
